/* welcome image on header section */
body{
    font-family: Merriweather;
    
}

.color-primary{
    color: #F00;
}
.container-head{
    background-image:url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
height: 600px;
border-radius: 16px;
margin: 50px 300px ;
background-color: black;
margin-bottom: 120px;
}
.container-title{
    color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
padding-top: 177px;

}
.container-slogan{
  
   
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
padding: 223px 344px 177px 344 ;

}

/* offer section style */

.offer-section{
    width: 1600px;
height: 7335px;
align-items: center;
display: inline;


}
.offer-title{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-weight: 700;

}

.offer-description{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.offer-category{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;

font-weight: 700;

}

.offer-image{
  margin-left: 400px;
    
}

/* Victory Section */

.victory-section{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px 300px ;
    background-color: black;
    margin-bottom: 120px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: block;
}
div-l-section{
    width: 70%;
}
.victory-head{
    color: #FFF;
   /* padding: 128px 0px 0px 126px;  */
   padding-top: 128px;


}
.victory-description{
    color: #FFF;

}
.victory-r-section{
    width: 30%;
    margin-left: 862px;
}

/* Calender Section */
.calender-section{
    margin-top: 200px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    display: inline;
    text-align: center;
    background-color: bisque;
}


.calender-style{
    color: #F00;
    

    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}

.c-join-now{

    border-radius: 5px;
background: #F00;
text-align: center;
color: #FFF;
}



/* coming soon section */

.comingsoon{
    display: flex;
    
    width: 1320px;
    gap: 118px;

    
}
        #p-cs{
        
        
        color: #F00;
        

        }
        #h-cs{
            color: #070211;

        font-size: 48px;

        font-weight: 900;

        text-transform: capitalize;
        }
        #p2-cs{
            color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        }

.c-comingsoon-section{
    border-radius: 463px;
border: 15px solid #F00;


}

/* holidays styles */
.holidays{
    display: block;
    text-align: center;
    
}

/* portfolio section */
.Portfolio{
    margin-left: 100px;
    width: 1600px;
    text-align: center;
}

.portfolio-img-section{
    
height: 7335px;
}


.portfolio-heading{
    text-align: left;
    margin: 20px auto;

}
.portfolio-heading h1{
    color: #05010c;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-section-1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
    text-align: center;
}

.portfolio-section-2{
    display: flex;
    justify-content: space-between;
    gap: 20px;

    width: 50%;

    text-align: center;
}

/* email-subscriber  */

.email-subscription{
    background-color:bisque;
    text-align: center;

}
.email-subscription h1{

    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;


}

.email-subscriber{
    border-radius: 50px;
background: #FFF;
   

}

.footer-section{
   background-color: black; 
    color: #FFF;
}

.lft-u{
    text-align: left;
}

.social-center{
    text-align: center;
}

.rft-u{
    text-align: right;
}




